{% extends "pageLayout.html" %}

{% block content %}
    <div class="content-section">
        <!-- User header information -->
        <ul>
            <li style="display:inline-block;">
                <!-- Display user account image with link to User Experiences page -->
                <a href="{{ url_for('user_experiences', username=current_user.username) }}">
                    <img class="rounded-circle article-img"
                         src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
                </a>
            </li>
            <li style="display:inline-block;">
                <a class="mr-2 text-decoration-none"
                   href="{{ url_for('user_experiences', username=current_user.username) }}">{{ current_user.username }}</a>
            </li>
            <li style="display:inline-block; padding-left: 20px;">
                <p class="text-secondary">{{ current_user.email }}</p>
            </li>
        </ul>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group pt-3">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Set user location (optional) -->
                <div class="form-group pt-3">
                    {{ form.location.label(class="form-control-label") }}
                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Landing Page sorting options -->
                <div class="form-group pt-3">
                    <p>Sorting Options for Landing Page</p>
                    {% for subfield in form.sort %}
                        <tr>
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                    {% endfor %}
                </div>
                <!-- Show preview of the user's current profile picture -->
                <div class="pt-3">
                    <p>Current Profile Picture</p>
                </div>
                <div id="user-uploaded-image">
                    <img class="img-rounded"
                         src="{{ image_file }}">
                </div>
                <!-- Update profile picture/change from default -->
                <div class="form-group pt-3">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group pt-3">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
{% endblock content %}}
