{% extends "pageLayout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group pt-3">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group pt-3">
                    {{ form.location.label(class="form-control-label") }}
                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mb-3 pt-3">
                    {{ form.keywords.label(class="form-control-label") }}
                    {% if form.keywords.errors %}
                        {{ form.keywords(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.keywords.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.keywords(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Rating selection dropdown -->
                <div class="form-group mb-3 pt-1">
                    <ul style="padding-left: 0px";>
                        <li style="display:inline-block; padding-left: 0px;">
                            {{ form.star_rating.label(class="form-control-label") }}:
                        </li>
                        <li style="display:inline-block; padding-left: 10px;">
                            {% if form.star_rating.errors %}
                                {{ form.star_rating(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.star_rating.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.star_rating(class="form-control") }}
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <!-- Show preview of the Experience's current image for the "Add Experience" page -->
                <div>
                    <p>Current Image</p>
                </div>
                <div id="user-uploaded-image">
                    <img class="img-rounded"
                        src="{{ url_for('static', filename='experience_pics/' + display_image) }}">
                </div>
                <!-- Upload a custom image for the Experience -->
                <div class="form-group pt-3">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group pt-3">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
{% endblock content %}}
