{% extends "pageLayout.html" %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img"
             src="{{ url_for('static', filename='profile_pics/' + experience.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ experience.author.username }}</a>
                <small class="text-muted">{{ experience.date_posted.strftime('%m/%d/%Y, %H:%M') }}</small>
                {% if experience.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_experience', experience_id=experience.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
            </div>
            <h2><a class="article-title"
                   href="{{ url_for('experience', experience_id=experience.id) }}">{{ experience.title }}</a></h2>
            <img class="img-rounded"
                 src="{{ url_for('static', filename='experience_pics/' + experience.image_file) }}">
            <p class="article-content pt-3">{{ experience.description }}</p>
            <p class="article-content">Location: {{ experience.location }}</p>
            <!-- Display geolocation if values exist for latitude and longitude -->
            {% if experience.latitude and experience.longitude %}
                <p class="article-content">Geo-location (Lat, Long): {{ experience.latitude }}, {{ experience.longitude }}</p>
            {% endif %}
            <p class="article-content">Rating: {{ experience.rating }}</p>
        </div>
    </article>
    <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Experience?</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_experience', experience_id=experience.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}}
