{% extends "pageLayout.html" %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img"
             src="{{ url_for('static', filename='profile_pics/' + experience.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_experiences', username=experience.author.username) }}">{{ experience.author.username }}</a>
                <small class="text-muted">{{ experience.date_posted.strftime('%m/%d/%Y, %H:%M') }}</small>
                {% if experience.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_experience', experience_id=experience.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
            </div>
            <h2><a class="article-title"
                   href="{{ url_for('experience', experience_id=experience.id) }}">{{ experience.title }}</a></h2>
            <img class="img-rounded"
                 src="{{ url_for('static', filename='experience_pics/' + experience.image_file) }}">
            <p class="article-content pt-3">{{ experience.description }}</p>
            <p class="article-content">Location: {{ experience.location }}</p>
            <!-- Display geolocation if values exist for latitude and longitude -->
            {% if experience.latitude != -200 and experience.longitude != -200 %}
                <p class="article-content">Geo-location (Lat, Long): {{ experience.latitude }}, {{ experience.longitude }}</p>
            {% else %}
                <p class="article-content">Geo-location (Lat, Long): Latitude and Longitude not found for this location.</p>
            {% endif %}
            <p class="article-content">Rating: {{ experience.rating }}</p>
            <!-- Display list of keywords -->
            {% if experience.keywords|length == 1 %}
                <ul>
                    <li style="display:inline-block;">Keywords: </li>
                    <li style="display:inline-block;">
                        <a class="mr-2" href="{{ url_for('keyword', keyword_text=experience.keywords[0].keyword_text) }}">{{ experience.keywords[0].keyword_text }}</a>
                    </li>
                </ul>
            {% elif experience.keywords|length > 1 %}
                <!-- Print the keywords in chunks so that the final keyword does not have a trailing ", " -->
                <ul>
                    <li style="display:inline-block;">Keywords: </li>
                    {% for keyword in experience.keywords[:-1] %}
                        <li style="display:inline-block;">
                            <a class="mr-2" href="{{ url_for('keyword', keyword_text=keyword.keyword_text) }}">{{ keyword.keyword_text }}, </a>
                        </li>
                    {% endfor %}
                    <li style="display:inline-block;">
                        <a class="mr-2" href="{{ url_for('keyword', keyword_text=experience.keywords[-1].keyword_text) }}">{{ experience.keywords[-1].keyword_text }}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </article>
    <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Experience?</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_experience', experience_id=experience.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}}
