<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom title + static CSS Template for each page -->
    {% if request.endpoint == 'landing' %}
        <title>Crowd Sourced Travel Planner</title>
        <link href="{{ url_for('static', filename='landing.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'login' %}
        <title>Login</title>
        <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'register' %}
        <title>Register</title>
        <link href="{{ url_for('static', filename='register.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'profile' %}
        <title>My Profile</title>
        <link href="{{ url_for('static', filename='profile.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'account' %}
        <title>My Account</title>
        <link href="{{ url_for('static', filename='account.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'add_experience' %}
        <title>Add Experience</title>
        <link href="{{ url_for('static', filename='create_experience.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'experience' %}
        <title>Experience Details</title>
        <link href="{{ url_for('static', filename='experience.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'update_experience' %}
        <title>Update Experience</title>
        <link href="{{ url_for('static', filename='update_experience.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'user_experiences' %}
        <title>User Experiences</title>
        <link href="{{ url_for('static', filename='user_experiences.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'search' %}
        <title>Search</title>
        <link href="{{ url_for('static', filename='search.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'keyword' %}
        <title>Keyword</title>
        <link href="{{ url_for('static', filename='keyword.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'create_trip' %}
        <title>Create Trip</title>
        <link href="{{ url_for('static', filename='create_trip.css') }}" rel="stylesheet" type="text/css">
    {% elif request.endpoint == 'update_trip' %}
        <title>Create Trip</title>
        <link href="{{ url_for('static', filename='update_trip.css') }}" rel="stylesheet" type="text/css">
    {% endif %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('landing') }}">Crowd Sourced Travel Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('landing') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">Search Experiences</a>
                </li>
                <!-- TODO: After implementing login persistence, complete following changes:
                    - Update navbar to include "Add Experience"
                    - Replace Login with Profile
                    - Replace Register with Logout
                -->
                <!-- TODO: After implementing login persistence, have this change from Login to Profile -->
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_experience') }}">Add Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create_trip') }}">Create Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account') }}">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Page content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Alert messages for successful or unsuccessful logins -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block content %}
                <!-- Individual page content will show here below navbar -->
                {% endblock %}
            </div>

            <!-- Default sidebar from the Flask Tutorial video.  We can edit or remove it later. -->
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    {% if request.endpoint in ['create_trip'] %}
        <script src="{{ url_for('static', filename='user-uploaded-image-update.js') }}"></script>
    {% elif request.endpoint in ['update_trip'] %}
        <script src="{{ url_for('static', filename='update_trip.js') }}"></script>
    {% endif %}

    <!-- JavaScript Bundle with Popper (Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
