{% extends "pageLayout.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
                <!-- Display user location if input from "My Account" page -->
                {% if current_user.location != "" %}
                    <p class="text-secondary">{{ current_user.location }}</p>
                {% endif %}
                <p class="text-secondary">Member since {{ current_user.date_account_created.strftime('%Y') }}</p>
                <p class="text-secondary">Experiences Created: {{ exp_count }}</p>
                <p class="text-secondary">Trips Created: {{ trip_count }}</p>
            </div>
        </div>
    </div>
    <!-- Only display trip legend if the user has trips created -->
    {% if trip_count > 0 %}
        <legend class="border-bottom mb-3">My Trips</legend>

        {% for trip in trips.items %}
            <article class="media content-section">
                <div class="media-body">
                    <!-- User header information -->
                    <ul>
                        <li style="display:inline-block;">
                            <!-- Display user account image with link to User Trips page -->
                            <a href="{{ url_for('user_trips', username=trip.author.username) }}">
                                <img class="rounded-circle article-img"
                                    src="{{ url_for('static', filename='profile_pics/' + trip.author.image_file) }}">
                            </a>
                        </li>
                        <li style="display:inline-block;">
                            <a class="mr-2 text-decoration-none" href="{{ url_for('user_trips', username=trip.author.username) }}">{{ trip.author.username }}</a>
                        </li>
                    </ul>
                    <h2><a class="article-title text-decoration-none"
                        href="{{ url_for('trip', trip_id=trip.id) }}">{{ trip.title }}</a></h2>
                    <!-- Display Trip image with link to Trip page -->
                    <a href="{{ url_for('trip', trip_id=trip.id) }}">
                        <img class="img-rounded"
                            src="{{ url_for('static', filename='trip_pics/' + trip.image_file) }}">
                    </a>
                    <!-- Bootstrap Detail List -->
                    <div class="container" style="margin-top: 20px;">
                        <dl class="row">
                            <dt class="col-sm-3">Location</dt>
                            <dd class="col-sm-9">{{ trip.location }}</dd>
                        </dl>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% endif %}
    <!-- Pagination setup -->
    {% for trip_page_num in trips.iter_pages() %}
        {% for experience_page_num in experiences.iter_pages() %}
            {% if trip_page_num %}
                {% if experience_page_num == experiences.page %}
                    {% if trips.page == trip_page_num %}
                        <a class="btn btn-secondary mb-4" href="{{ url_for('profile', experience_page=experience_page_num, trip_page=trip_page_num) }}">{{ trip_page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-secondary mb-4" href="{{ url_for('profile', experience_page=experience_page_num, trip_page=trip_page_num) }}">{{ trip_page_num }}</a>
                    {% endif %}
                {% else %}
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% endfor %}

    <legend class="border-bottom mb-3">My Experiences</legend>
    {% for experience in experiences.items %}
        <article class="media content-section">
            <div class="media-body">
                <!-- User header information -->
                <ul>
                    <li style="display:inline-block;">
                        <!-- Display user account image with link to User Experiences page -->
                        <a href="{{ url_for('user_experiences', username=experience.author.username) }}">
                            <img class="rounded-circle article-img"
                                 src="{{ url_for('static', filename='profile_pics/' + experience.author.image_file) }}">
                        </a>
                    </li>
                    <li style="display:inline-block;">
                        <a class="mr-2 text-decoration-none" href="{{ url_for('user_experiences', username=experience.author.username) }}">{{ experience.author.username }}</a>
                    </li>
                    <li style="display:inline-block; padding-left: 20px;">
                        <small class="text-muted ">{{ experience.date_posted.strftime('%m/%d/%Y, %H:%M') }}</small>
                    </li>
                </ul>
                <h2><a class="article-title text-decoration-none"
                       href="{{ url_for('experience', experience_id=experience.id) }}">{{ experience.title }}</a></h2>
                <!-- Display Experience image with link to Experience page -->
                <a href="{{ url_for('experience', experience_id=experience.id) }}">
                    <img class="img-rounded"
                         src="{{ url_for('static', filename='experience_pics/' + experience.image_file) }}">
                </a>
                <!-- Bootstrap Detail List -->
                <div class="container" style="margin-top: 20px;">
                    <dl class="row">
                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9">{{ experience.description }}</dd>
                        <dt class="col-sm-3">Location</dt>
                        <dd class="col-sm-9">{{ experience.location }}</dd>
                        <dt class="col-sm-3">Latitude, Longitude</dt>
                        <dd class="col-sm-9">
                            <!-- Display geolocation if values exist for latitude and longitude -->
                            {% if experience.latitude != -200 and experience.longitude != -200 %}
                                {{ experience.latitude }}°, {{ experience.longitude }}°
                            {% else %}
                                Latitude and Longitude not found for this location.
                            {% endif %}
                        </dd>
                        <dt class="col-sm-3">Rating</dt>
                        <dd class="col-sm-9">{{ experience.rating }}</dd>
                        <dt class="col-sm-3">Keywords</dt>
                        <dd class="col-sm-9">
                            <!-- Display list of keywords -->
                            {% if experience.keywords|length == 1 %}
                                <ul>
                                    <li style="display:inline-block;">
                                        <a class="mr-2 text-decoration-none" href="{{ url_for('keyword', keyword_text=experience.keywords[0].keyword_text) }}">{{ experience.keywords[0].keyword_text }}</a>
                                    </li>
                                </ul>
                            {% elif experience.keywords|length > 1 %}
                                <!-- Print the keywords in chunks so that the final keyword does not have a trailing ", " -->
                                <ul>
                                    {% for keyword in experience.keywords[:-1] %}
                                        <li style="display:inline-block;">
                                            <a class="mr-2 text-decoration-none" href="{{ url_for('keyword', keyword_text=keyword.keyword_text) }}">{{ keyword.keyword_text }}, </a>
                                        </li>
                                    {% endfor %}
                                    <li style="display:inline-block;">
                                        <a class="mr-2 text-decoration-none" href="{{ url_for('keyword', keyword_text=experience.keywords[-1].keyword_text) }}">{{ experience.keywords[-1].keyword_text }}</a>
                                    </li>
                                </ul>
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
        </article>
    {% endfor %}
    <!-- Pagination setup -->
    {% for experience_page_num in experiences.iter_pages() %}
        {% for trip_page_num in trips.iter_pages() %}
            {% if experience_page_num %}
                {% if trip_page_num == trips.page %}
                    {% if experiences.page == experience_page_num %}
                        <a class="btn btn-secondary mb-4" href="{{ url_for('profile', experience_page=experience_page_num, trip_page=trip_page_num) }}">{{ experience_page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-secondary mb-4" href="{{ url_for('profile', experience_page=experience_page_num, trip_page=trip_page_num) }}">{{ experience_page_num }}</a>
                    {% endif %}
                {% else %}
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock content %}}
