{% extends "pageLayout.html" %}

{% block content %}
    <legend class="border-bottom mb-4">Trips by {{ user.username }} ({{ trips.total }})</legend>
    {% for trip in trips.items %}
        <article class="media content-section">
            <div class="media-body">
                <!-- User header information -->
                <ul>
                    <li style="display:inline-block;">
                        <!-- Display user account image with link to User Trips page -->
                        <a href="{{ url_for('user_trips', username=trip.author.username) }}">
                            <img class="rounded-circle article-img"
                                src="{{ url_for('static', filename='profile_pics/' + trip.author.image_file) }}">
                        </a>
                    </li>
                    <li style="display:inline-block;">
                        <a class="mr-2 text-decoration-none" href="{{ url_for('user_trips', username=trip.author.username) }}">{{ trip.author.username }}</a>
                    </li>
                </ul>
                <h2><a class="article-title text-decoration-none"
                    href="{{ url_for('trip', trip_id=trip.id) }}">{{ trip.title }}</a></h2>
                <!-- Display Trip image with link to Trip page -->
                <a href="{{ url_for('trip', trip_id=trip.id) }}">
                    <img class="img-rounded"
                        src="{{ url_for('static', filename='trip_pics/' + trip.image_file) }}">
                </a>
                <!-- Bootstrap Detail List -->
                <div class="container" style="margin-top: 20px;">
                    <dl class="row">
                        <dt class="col-sm-3">Location</dt>
                        <dd class="col-sm-9">{{ trip.location }}</dd>
                    </dl>
                </div>
            </div>
        </article>
    {% endfor %}
    <!-- Pagination setup -->
    {% for page_num in trips.iter_pages() %}
        {% if page_num %}
            {% if trips.page == page_num %}
                <a class="btn btn-secondary mb-4" href="{{ url_for('user_trips', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-secondary mb-4" href="{{ url_for('user_trips', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}}
